<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://unpkg.com/vue"></script>
    <style>
        [v-cloak]{
            display: none;
        }

        body{
            background-color: aqua;
            font-family: "Comic Sans MS";
        }


        p{
            font-size: larger;
        }
    </style>
</head>

<body>
<div id="app">
<!--    v-cloak解决闪烁问题 -->
<p v-cloak>{{msg}}</p>

<!--    v-text 会覆盖 标签之间的内容-->
    <p v-text="msg">=========</p>

<!--    按照html格式解析后面跟的内容  也会覆盖 -->
    <p v-html="parsehtml">我会被覆盖</p>

<!--    v-bind 绑定属性   后面可以跟合法的js表达式 -->
    <div :title="title">test </div>

    <button :title="title+` 123`" > click </button>
<br/>
<!--    v-on绑定事件 -->
    <button v-on:click="handleadd('test')">+1</button> <span>{{num}}</span>


<!--    v-model双向绑定 -->
<!--    只能用在表单元素中  input(email address text) radio checkbox select textarea -->
    <input type="text" v-model="number"/>
    <span>{{number}}</span>

<!--    <div><input type="email"/></div>-->

<!--    v-for -->
<h3>v-for实例：</h3>
    <div> <input type="text" v-model="item"/>  <button @click="add()">add</button></div>
<ul>
    <li v-for="(each,index) in datalist">
        {{index}} --- {{each}}
        <button @click="deleteI(index)">delete</button>
    </li>
</ul>


</div>

<script>
    var app = new Vue({
        el: "#app",

        data:{
            msg:"hello",
            parsehtml:"<b>world</b>",
            title:"self-defined title",
            num:0,
            number:0,
            datalist:['hello','js','html','css','Vue'],
            item:''
        },

        methods:{
            handleadd(text) {
                console.log(text)
                this.num+=1
            },
            add(){
                var msg = this.item;
                this.datalist.push(msg);
            },
            deleteI(index){
                    this.datalist.splice(index,1)
            }
        }

    })
</script>
</body>
</html>
